footer {
    width: 100vw;
    height: 3vh;
    background-color: rgba(143, 232, 244, 0.239);
    position: relative;
    border-top: 1px dotted black;
}
.Pfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}


.Pfooter a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.Pfooter a:hover{
    text-decoration: underline;
    
}