body{
    width: 100vw;
    overflow-x: hidden;
}

#todoDiv{
    border: 1px dotted black;
}

#todoDiv button{
    display: flex;
    float: right;
    margin-top: -5vh;
    margin-right: 1vw;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}


#todoDesc {
    overflow-wrap: break-word;
}