body{
    width: 100vw;
    overflow-x: hidden;
}

#todoDiv{
    border: 1px dotted black;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
